<div class="order-container"
     *ngIf="orders">
  <div *ngFor="let order of orders"
       class="order-card">
    <div class="header">
      <h2 class="title">Информация по заявке</h2>
      <!-- <h3>ID заявки: {{ order.orderId }}</h3> -->
    </div>
    <div class="card-content">
      <div>
        <!-- <p><strong>Клиент:</strong> {{ order.user }} ({{ order.user?.email }})</p> -->
        <p><strong>Клиент</strong></p>
        <p><strong>Номер телефонаr:</strong> {{ order.numberPhone }}</p>
      </div>
      <div>
        <p><strong>С детьми:</strong> {{ order.hasChildren ? 'Да' : 'Нет' }}</p>
        <p><strong>Количество людей:</strong> {{ order.numberOfPeople }}</p>
      </div>
      <div>
        <p><strong>Тур:</strong> {{ order.tour?.name }} - {{ order.tour?.description }}</p>
        <p><strong>Начало регистрации:</strong> {{ order.registrationStartDate | date: "dd.MM.yyyy" }}</p>
        <p><strong>Конец регистрации:</strong> {{ order.registrationEndDate | date: "dd.MM.yyyy" }}</p>
      </div>
    </div>
    <mat-card-actions>
      <div class="status">
        <p><strong>Статус:</strong> {{ order.status }}</p>
        <button mat-raised-button
                class="button">Принять</button>
        <button mat-raised-button
                class="button">Отклонить</button>
      </div>
    </mat-card-actions>
  </div>
</div>