.order {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 100%;
    margin-top: 20px;
    background-image: url('https://assets-global.website-files.com/61a075b1726f578610d0b991/621d0db10f6900254002913c_WorldMap_Labels_Updated_Cities.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.container {
    width: 50%; /* Измените ширину по вашему усмотрению */
}
.tour_info_card {
    display: flex; /* Добавлено */
    background-color: #ffffff;
    border: 3px solid;
    border-image: linear-gradient(to right, #8A2387, #E94057, #F27121);
    border-image-slice: 1;
}

.image_container {
    width: 50%; /* Задайте ширину для контейнера изображения */
}

.image_container img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.info_container {
    flex: 1; /* Задайте гибкость, чтобы занимать все доступное пространство */
    padding: 10px;

    .tour-info-name{
        font-size: 24px;
    }
    .tour-info-location{
        font-size: 16px;
    }
    .tour-quantity{
        margin-top: 8px;
        font-size: 16px;
    }
    .tour-start{
        font-size: 16px;
    }
    .tour-end{
        font-size: 16px;
    }
    .tour-info-desc{
        margin-top: 8px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
    }
}

.info_container h2 {
    margin-bottom: 5px;
}

/* Дополнительные стили для красоты */
.order_tour_info {
    margin: 20px;
}
  
.tour_info_card {
    overflow: hidden; /* Если содержимое карты выходит за границы */
}
.order_content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55); /* Тень для подчеркивания блока */
    margin-top: 22px;
}
.form-row {
    margin-bottom: 16px;
}
  
.full-width {
    width: 100%;
}
::ng-deep .mat-step-header{
    background: -webkit-linear-gradient(to right, #8A2387, #E94057, #F27121);
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
}
::ng-deep .mat-step-icon-state-edit{
    background-color: #F27121 !important;
}
::ng-deep .mat-step-icon-selected {
    background-color: #F27121 !important;
    color: white !important;
}
::ng-deep .mat-step-icon{
    background-color: #F27121 !important;
    color: white !important;
}
::ng-deep .mat-stepper-vertical-line::before{
    border-left-width: 2.5px !important;
    border-left-color: rgba(0, 0, 0, 0.2) !important;
}
::ng-deep .mat-step-label.mat-step-label-active{
    color: white !important;
}
::ng-deep .mat-step-label{
    color: rgb(255 255 255 / 54%) !important;
}
.mat-stepper-vertical {
    margin-top: 8px;
}
  
.mat-mdc-form-field {
    margin-top: 16px;
}

.step3{
    margin-top: 12px;
    i{
        font-size: 28px;
    }
}
.info-price{
    text-transform:inherit;
    font-size: 18px;
}
.order-button{
    width: 140px !important;
    background: linear-gradient(to right, rgba(138, 35, 135, 0.85), rgba(233, 64, 87, 0.85)) !important;
    color: #fff !important;
    margin-left: 8px;
}