<div class="order">

  <div class="container">
    <div class="ordet_tour_info">
      <div class="tour_info_card">
        <div class="image_container">
          <!-- Изображение тура -->
          <img [src]="tour.mainImageUrl"
               alt="Tour Image">
        </div>
        <div class="info_container">
          <!-- Информация о туре -->
          <h2 class="tour-info-name">
            {{ tour.name }}
          </h2>
          <span class="tour-info-location">
            <i class="fa-solid fa-location-dot"></i> {{tour.country}}, {{tour.region}}
          </span>
          <p class="tour-quantity">
            <strong>Осталось мест:</strong> {{ tour.quantity }}
          </p>
          <p class="tour-start">
            <strong>Начало тура:</strong> {{ tour.startDate| date:'dd.MM.yyyy' }}
          </p>
          <p class="tour-end">
            <strong>Окончание тура:</strong> {{ tour.endDate | date:'dd.MM.yyyy' }}
          </p>
          <p class="tour-info-desc">
            {{ tour.description }}
          </p>
        </div>
      </div>
    </div>

    <div class="form-container">
      <fieldset class="form-container">
        <form [formGroup]="userForm"
              class="order-form-container">
          <mat-form-field appearance="outline"
                          subscriptSizing="dynamic">
            <mat-label>Имя</mat-label>
            <input placeholder="Иван"
                   matInput
                   formControlName="first_name" />
          </mat-form-field>
          <mat-form-field appearance="outline"
                          subscriptSizing="dynamic">
            <mat-label>Фамилия</mat-label>
            <input placeholder="Иван"
                   matInput
                   formControlName="last_name" />
          </mat-form-field>
          <mat-form-field appearance="outline"
                          subscriptSizing="dynamic">
            <mat-label>Отчество</mat-label>
            <input placeholder="Иван"
                   matInput
                   formControlName="middle_name" />
          </mat-form-field>
        </form>

        <form [formGroup]="orderForm"
              class="order-form-container">
          <mat-form-field appearance="outline"
                          subscriptSizing="dynamic">
            <mat-label>Телефон</mat-label>
            <input prefix="+7 "
                   mask="(000) 0000000"
                   placeholder="+7 (000) 0000000"
                   matInput
                   formControlName="number_phone" />
            <mat-error *ngIf="orderForm.hasError('required')">Введите корректный номер телефона</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline"
                          subscriptSizing="dynamic">
            <mat-label>Количество человек</mat-label>
            <input type="number"
                   placeholder="2"
                   matInput
                   formControlName="number_of_people"
                   (input)="validateNumberInput($event)"
                   (keydown)="preventNegativeInput($event)" />
          </mat-form-field>

          <div>
            <span class="has_children"><strong>Наличие детей</strong></span>
            <mat-checkbox formControlName="has_children"></mat-checkbox>
          </div>
        </form>
        <button mat-raised-button
                class="save_button"
                color="link"
                (click)="createOrder()">
          Сохранить
        </button>
      </fieldset>
    </div>

  </div>
</div>