<div class="order">
    <div class="container">
      <div class="ordet_tour_info">
        <div class="tour_info_card">
          <div class="image_container">
            <!-- Изображение тура -->
            <img src="https://s01.cdn-pegast.net/get/c9/d2/46/a9fff642622325fec2aa210fc73c4413fed0f01f0e63935cc58136c809/61c715f815838.jpg" alt="Tour Image">
          </div>
          <div class="info_container">
            <!-- Информация о туре -->
            <h2 class="tour-info-name">Name name name name name name name</h2>
            <span class="tour-info-location"><i class="fa-solid fa-location-dot"></i> Турция, Назарово</span>
            <p class="tour-info-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quae, recusandae quo quis voluptas soluta ipsam sapiente explicabo cumque, praesentium adipisci dolor? Ea culpa provident quae delectus excepturi quas similique ipsum, fugit debitis, nulla voluptatem nostrum amet? Ducimus nisi illum aliquam velit nobis molestiae, aut voluptatum consequatur iste ea in earum tenetur quia ad sed numquam, repudiandae a laboriosam suscipit deserunt nam. Nemo temporibus laboriosam similique facere eius maiores sapiente eveniet aut corrupti? Ut necessitatibus dignissimos illo doloribus blanditiis nisi, sed quibusdam laudantium libero suscipit saepe assumenda ipsa at distinctio cumque unde placeat quia? Sapiente nulla in accusamus ipsum sequi.</p>
          </div>
        </div>
      </div>
      <div class="order_content">
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
          <!-- Шаг 1 -->
          <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Добавьте данные паспорта</ng-template>
            <form [formGroup]="firstFormGroup">
                <div class="form-row">
                    <mat-form-field>
                        <mat-label>Серия</mat-label>
                        <input matInput placeholder="Введите серию" formControlName="series" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Номер</mat-label>
                        <input matInput placeholder="Введите номер" formControlName="number" required>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field>
                        <mat-label>Имя</mat-label>
                        <input matInput placeholder="Введите имя" formControlName="firstName" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Фамилия</mat-label>
                        <input matInput placeholder="Введите фамилию" formControlName="lastName" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Отчество</mat-label>
                        <input matInput placeholder="Введите отчество" formControlName="patronymic" required>
                    </mat-form-field>
                </div>
              <div>
                <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Продолжить</button>
              </div>
            </form>
          </mat-step>
  
          <!-- Шаг 2 -->
          <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Добавьте данные заграничного паспорта</ng-template>
            <form [formGroup]="secondFormGroup">
              <div class="form-row">
                <mat-form-field>
                  <mat-label>Серия</mat-label>
                  <input matInput placeholder="Введите серию" formControlName="passportSeries" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Номер</mat-label>
                  <input matInput placeholder="Введите номер" formControlName="passportNumber" required>
                </mat-form-field>
              </div>
              <div class="form-row">
                <mat-form-field>
                  <mat-label>Имя</mat-label>
                  <input matInput placeholder="Введите имя" formControlName="passportFirstName" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Фамилия</mat-label>
                  <input matInput placeholder="Введите фамилию" formControlName="passportLastName" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Отчество</mat-label>
                  <input matInput placeholder="Введите отчество" formControlName="passportPatronymic" required>
                </mat-form-field>
              </div>
              <div>
                <button mat-button matStepperPrevious>Вернуться</button>
                <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Продолжить</button>
              </div>
            </form>
          </mat-step>

          <!-- Шаг 3 -->
          <mat-step>
            <ng-template matStepLabel>Подтвердите оформление тура</ng-template>
            
            <div class="step3">
              <h2><i class="fa-solid fa-triangle-exclamation" style="color: #8A2387;"></i> При продолжении вас перенаправит на страницу платежа!</h2>
              <button mat-button matStepperPrevious>Вернуться</button>
              <button mat-button (click)="stepper.reset()">Продолжить</button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
  