<div class="container">
  <button class="add_button"
          mat-raised-button
          (click)="openCreateTourDialog()">
    Добавить тур
  </button>

  <div class="tour_card"
       *ngFor="let tour of tours">
    <div class="tour_info">
      <h1>{{tour.name}}</h1>
      <span class="tour-info"><i class="fa-solid fa-location-dot"></i> {{ tour.country }}, {{ tour.region
        }}</span>
      <p>Период: {{ tour.startDate | date: "dd.MM.yyyy"}} - {{ tour.endDate | date: "dd.MM.yyyy"}}</p>
      <p>Стоимость: {{tour.price}}</p>
      <p>Количество мест: {{tour.quantity}}</p>
    </div>
    <div class="tour_menu">
      <button mat-raised-button
              class="change_button"
              (click)="openCreateTourDialog(tour)">
        Изменить
      </button>
      <button *ngIf="tour.status === 0"
              mat-raised-button
              class="change_button"
              (click)="changeTourStatus(tour)">
        Снять с публикации
      </button>
      <button *ngIf="tour.status === 1"
              mat-raised-button
              class="change_button"
              (click)="changeTourStatus(tour)">
        Опубликовать
      </button>
      <button mat-raised-button
              class="change_button"
              (click)="deleteTour(tour.tourId)">
        Удалить
      </button>
    </div>
  </div>
</div>