<div class="position">
  <div class="container"
       id="container">
    <div class="form-container sign-up-container">
      <form action="#"
            [formGroup]="registerForm">
        <h1>Создать аккаунт</h1>
        <!--! реализовать кнопки для авторизации по соц сетям(перспектива, пока заглушки)  -->
        <!-- <div class="social-container">
          <a href="#"
             class="social"><i class="fab fa-vk"></i></a>
          <a href="#"
             class="social"><i class="fab fa-google-plus-g"></i></a>
        </div>
        <span>или используй email для регистрации</span> -->
        <input type="text"
               placeholder="Name"
               formControlName="name" />
        <input type="email"
               placeholder="Email"
               formControlName="email" />
        <input type="password"
               placeholder="Password"
               formControlName="password" />

        <div class="checkbox">

          <mat-checkbox formControlName="agreeTerms"
                        color="warn">
          </mat-checkbox>
          Я турагенство
        </div>

        <span *ngIf="this.isRegisterFailed"
              style="color: red;">Ошибка при регистрации</span>

        <button (click)="SignUp(this.registerForm)">Зарегистрироваться</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#"
            [formGroup]="loginForm">
        <h1>Войти</h1>
        <!--! реализовать кнопки для авторизации по соц сетям(перспектива, пока заглушки)  -->
        <!-- <div class="social-container">
          <a href="#"
             class="social"><i class="fab fa-vk"></i></a>
          <a href="#"
             class="social"><i class="fab fa-google-plus-g"></i></a>
        </div>
        <span>или используй свой аккаунт</span> -->

        <input type="text"
               placeholder="Email"
               formControlName="email" />

        <input type="password"
               placeholder="Password"
               formControlName="password" />
        <!--! Реализовать востановление пороля  -->
        <!-- <a href="#">Забыл пароль?</a> -->
        <span *ngIf="this.isLoginFailed"
              style="color: red;">Неверный пароль или логин</span>
        <button (click)="SignIn(this.loginForm)">Войти</button>
      </form>
    </div>

    <!-- Доп блоки для перехода на нужную функцию  -->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>С возвращением!</h1>
          <p>Чтобы поддерживать с нами связь, пожалуйста, войдите в систему, указав свои личные данные</p>
          <button class="ghost"
                  id="signIn">Войти</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Привет, друг!</h1>
          <p>Введите свои личные данные и начните путешествие вместе с нами</p>
          <button class="ghost"
                  id="signUp">Зарегистрироваться</button>
        </div>
      </div>
    </div>
  </div>
</div>