.not-found-container {
  text-align: center;
  margin-top: 50px;
}

.not-found-container h1 {
  font-size: 3em;
  color: #ff6347;
  /* Tomato color */
}

.not-found-container p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.not-found-container h2 {
  font-size: 1.2em;
}

.home-link {
  color: #8A2387;
  text-decoration: none;
  border: 2px solid #8A2387;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.home-link:hover {
  border: none;
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  color: white;
}