<div class="container">
    <section class="tour-top">
        <div class="wrapper">
            <div class="wrapper-col-1">
                <div class="tour-gallery">
                    <div class="tour-gallery-slider">
                        <img class="slide" alt="image" src="https://static.irk.ru/media/img/site/gallery/30634/1a26a6e5-54c7-49e5-afa6-5e3f1f650416_jpg_730x1000_x-False_q85.jpg"/>
                    </div>
                </div>
            </div>
            <div class="wrapper-col-2">
                <div class="tour-details">
                    <!-- Связать с полем Name -->
                    <h2>Жемчужина by the Sea бутик-отель</h2>
                    <!-- Связать с полем Country и Region(Регион это получается город будет, на бэке перепишу) -->
                    <div>
                        <span><i class="fa-solid fa-location-dot"></i> Турция, Назарово</span>
                    </div>
                    <!-- Связать с полем Description -->
                    <div class="tour-details-description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium delectus sunt commodi deserunt tempore dolorum necessitatibus molestias? Architecto impedit est veritatis illum voluptate hic labore inventore nisi animi, temporibus a, ad doloremque natus quas nulla iste, alias in tempora sequi maiores corrupti! Magnam, id consectetur ex rem saepe excepturi magni.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>