@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

hr{
    border: none; /* Убираем границу */
    background: -webkit-linear-gradient(to right, #8A2387, #E94057, #F27121);
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    color: red; /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */
}
.container {
    width: 100%;
}

.tour-top {
    position: relative;
    height: 600px; /* или любая другая высота, которую вы хотите использовать */
    background-size: cover;
    background-position: center;
    color: #fff; /* Цвет текста на изображении */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.tour-title {
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    font-size: 60px; /* Измените размер шрифта по своему усмотрению */
    margin-bottom: 8px;
    line-height: normal;
}
.tour-info{
    font-size: 24px; 
}

/* Затемнение фона с помощью псевдоэлемента */
.tour-top::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(11, 8, 11, 0.681); /* Прозрачность затемнения */
}

.tour-description-main {
    background-color: #fff; /* Цвет фона блока с описанием */
    margin: 16px 0; /* Расстояние от блока с описанием до соседних элементов */
    padding: 24px; /* Внутренний отступ блока с описанием */
    text-align: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* Тень для подчеркивания блока */
}

.description-content {
    max-width: 60%; /* Максимальная ширина блока с описанием */
    margin: 0 auto; /* Центрирование блока с описанием */
}
.description-content p{
    font-size: 22px;
    text-align: center;
    padding: 24px 60px;
    line-height: 28px;
}

/*Карусель изображений*/
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: -webkit-linear-gradient(to right, #8A2387, #E94057, #F27121);
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 0 -5px; /* Добавляем небольшой отрицательный отступ для четких линий */
}

.slide {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    margin: 0 5px; /* Добавляем небольшой положительный отступ для четких линий */
}

.slide img {
    width: 126%;
    height: 100%; /* Добавляем 100% высоту, чтобы сохранить соотношение сторон */
    object-fit: cover; /* Обеспечиваем, чтобы изображение полностью заполняло контейнер */
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%); /* Обрезаем изображение в форме параллелограмма */
    border-right: 1px solid #ff0000; /* Добавляем белую границу справа для разделения изображений */
    z-index: 1; /* Помещаем изображение под тенью */
}
.carousel:first-child {
    transform: translateX(-160px); /* Применяем отрицательный сдвиг для первого изображения */
}

.slide:last-child img {
    border-right: none; /* Убираем границу справа для последнего изображения */
}
.slide::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3; /* Поднимаем над изображением */
    box-shadow: 0 0 0 10px #ff0000; /* Тень, имитирующая границу */
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    outline: none;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

/*Подробное описание*/
.tour-description-detailed{
    background-color: #fff; /* Цвет фона блока с описанием */
    margin: 16px 0; /* Расстояние от блока с описанием до соседних элементов */
    padding: 24px; /* Внутренний отступ блока с описанием */
    text-align: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}
.description-detailed-content{
    max-width: 60%; /* Максимальная ширина блока с описанием */
    margin: 0 auto; /* Центрирование блока с описанием */
}
.description-detailed-content p{
    font-size: 22px;
    color: #929292;
    text-align: left;
    padding: 12px 60px;
    line-height: 24px;
}
.description-detailed-content pre{
    white-space: pre-wrap;
    width: 100%; /* Задайте необходимую ширину */
}

/*Блок для оформления заказа*/
.tour-order {
    background: -webkit-linear-gradient(to right, #8A2387, #E94057, #F27121);
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);
    color: #fff; /* Белый цвет текста для контраста с фоном */
    margin-top: 24px;
    padding: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); /* Тень для подчеркивания блока */
    align-items: center;
    width: 97.21%;
}

.tour-order-content {
    max-width: 70%; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the content */
    display: flex;
    justify-content: space-between; /* Distribute space between the left and right containers */
}

.order-info {
    flex: 1;
    display: flex;
}

.left-info {
    max-width: 82%;
    flex: 1;
    margin: 0;
}

.right-info {
    max-width: 18%; /* Adjust the width of the right container as needed */
}

.additional-info {
    text-align: right; /* Выравниваем текст справа */
}

.order-title {
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    font-size: 32px; /* Измените размер шрифта по своему усмотрению */
    margin-bottom: 8px; /* Установите желаемый отступ между order-title и tour-location--smile */
}

.tour-location--smile {
    font-size: 16px;
    margin-top: 0; /* Сброс верхнего отступа для более компактного отображения */
}

.tour-price-button {
    background-color: #fff;
    color: #F27121;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px; 
    white-space: nowrap;
}

.tour-price-button:hover {
    background-color: #da348c;
    color: #fff;
}
.title-button{
    font-size: 36px;
}

.additional-info-container {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    text-align: right;
    flex-wrap: wrap;
}
.order-container{
    max-width: 100%;
    margin: 0 auto;
}

.tour-quantity{
    font-size: 18px;
}

.tour-start{
    font-size: 18px;
}
.tour-end{
    font-size: 18px;
}