

<div class="container">
    <div class="tour-top" [style.backgroundImage]="'url(' + images[0] + ')'" [ngStyle]="{'background-color': overlayColor}">
        <div class="content">
            <h1 class="tour-title">{{ tourTitle | uppercase }}</h1>
            <span class="tour-info"><i class="fa-solid fa-location-dot"></i> {{ tourCountry }}, {{ tourCity }}</span>
        </div>
    </div>
    <div class="tour-description-main">
        <div class="description-content">
            <hr>
                <p>{{ smallDescription }}</p>
            <hr>
        </div>
    </div>
    <div class="tour-carousel">
        <div class="carousel-container">
            <div class="carousel">
              <div class="slide" *ngFor="let image of images">
                <img [src]="image" alt="Tour Image">
              </div>
            </div>
            <button class="prev-button" (click)="prevSlide()" [disabled]="currentIndex === 0">❮</button>
            <button class="next-button" (click)="nextSlide()" [disabled]="currentIndex === totalImages - 1">❯</button>
        </div> 
    </div>
    <div class="tour-order">
        <div class="tour-order-content">
            <div class="order-container">
                <div class="order-info">
                    <div class="left-info">
                        <h2 class="order-title">{{ tourTitle }}</h2>
                        <p class="tour-location--smile"><i class="fa-solid fa-location-dot"></i> {{ tourCity }}, {{ tourCountry }}</p>
                        <p class="tour-quantity"><strong>Осталось мест:</strong> {{ quantity }}</p>
                        <p class="tour-start"><strong>Начало тура:</strong> {{ tourStartDate | date:'dd.MM.yyyy' }}</p>
                        <p class="tour-end"><strong>Окончание тура:</strong> {{ tourEndDate | date:'dd.MM.yyyy' }}</p>
                    </div>
                    <div class="right-info">
                        <div class="additional-info">
                            <div class="additional-info-container">
                                <h3 class="title-button">Забронировать</h3>
                                <button class="tour-price-button" routerLink="/payment/{{ tourId }}">{{ price }} ₽</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="tour-description-detailed">
        <div class="description-detailed-content">
            <hr>
                <pre><p>{{ tourDescription }}</p></pre>
            <hr>
        </div>
    </div>            
</div>
