<div class="head">

  <h1 class="title">
    Поиск лучших туров
  </h1>
</div>


<div class="filters">

  <span class="filters-position">

    <mat-form-field>

      <mat-label>
        Откуда
      </mat-label>

      <input matInput
             [formControl]="departureLocation"
             [matAutocomplete]="autodeparture">

      <mat-autocomplete #autodeparture="matAutocomplete">
        <mat-option *ngFor="let location of departureLocations"
                    [value]="location">
          {{ location }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>

      <mat-label>
        Куда
      </mat-label>

      <input matInput
             [formControl]="destinationLocation"
             [matAutocomplete]="autodestination">

      <mat-autocomplete #autodestination="matAutocomplete">
        <mat-option *ngFor="let location of destinationLocations"
                    [value]="location">
          {{ location }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>

      <mat-label>
        Когда
      </mat-label>

      <input matInput
             readonly=""
             [matDatepicker]="picker"
             [(ngModel)]="departureDate">

      <mat-datepicker-toggle matSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="departureDate">

      <mat-label>
        Обратно
      </mat-label>

      <input matInput
             readonly=""
             [matDatepicker]="returnPicker"
             [(ngModel)]="returnDate">

      <mat-datepicker-toggle matSuffix
                             [for]="returnPicker"></mat-datepicker-toggle>
      <mat-datepicker #returnPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>

      <mat-label>
        Количество пассажиров
      </mat-label>

      <input matInput
             type="number"
             [(ngModel)]="passengerCount">
    </mat-form-field>

    <button class="search-button"
            mat-raised-button
            color="primary"
            (click)="search()">Поиск
    </button>
  </span>
</div>

<div class="tours"
     *ngIf="toursIsVisiable">

  <div *ngFor="let tour of tours">

    <div class="tour-card">

      <img class="tour-image"
           [src]="tour.imgUrl[0]"
           alt="{{ tour.name }}">

      <div class="tour-details">

        <h2 class="tour-name">
          {{ tour.name }}
        </h2>

        <p class="tour-detail-main-info">
          <strong>Страна:</strong> {{ tour.country }}
        </p>

        <p class="tour-detail-main-info"
           *ngIf="tour.region">
          <strong>Город:</strong> {{ tour.region }}
        </p>

        <p class="tour-detail-main-info">
          <strong>Дата:</strong> {{ tour.startDate | date }} - {{ tour.endDate | date }}
        </p>

        <p class="tour-detail-main-info">
          <strong>Цена:</strong> {{ tour.price | currency:' ':'symbol':'1.0' }}₽
        </p>

        <p class="tour-detail-main-info">
          <strong>Оставшиеся места: </strong> {{ tour.quantity }}
        </p>

        <p class="tour-details-description">
          {{ tour.description }}
        </p>

        <button class="tour-button"
                mat-raised-button
                color="link"
                routerLink="/tour/{{ tour.tourId }}"
                queryParamsHandling="merge">
          Посмотреть тур
        </button>
        <!-- Реализовать качество поездки в следующем симестре -->
      </div>
    </div>
  </div>
</div>