<div class="head">
    <h1 class="title">
        Поиск лучших туров
    </h1>
</div>
<div class="filters">

    <span class="filters-position">

        <mat-form-field>
            <mat-label>Откуда</mat-label>
            <input matInput [formControl]="departureLocation" [matAutocomplete]="autodeparture">
            <mat-autocomplete #autodeparture="matAutocomplete">
                <mat-option *ngFor="let location of departureLocations" [value]="location">
                    {{ location }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Куда</mat-label>
            <input matInput [formControl]="destinationLocation" [matAutocomplete]="autodestination">
            <mat-autocomplete #autodestination="matAutocomplete">
                <mat-option *ngFor="let location of destinationLocations" [value]="location">
                    {{ location }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Когда</mat-label>
            <input matInput readonly="" [matDatepicker]="picker" [(ngModel)]="departureDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="departureDate">
            <mat-label>Обратно</mat-label>
            <input matInput readonly="" [matDatepicker]="returnPicker" [(ngModel)]="returnDate">
            <mat-datepicker-toggle matSuffix [for]="returnPicker"></mat-datepicker-toggle>
            <mat-datepicker #returnPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Количество пассажиров</mat-label>
            <input matInput type="number" [(ngModel)]="passengerCount">
        </mat-form-field>

        <button mat-raised-button class="search-button" color="primary" (click)="search()">Поиск</button>

    </span>
</div>

<div class="tours" *ngIf="toursIsVisiable">

    <div *ngFor="let tour of tours">
        <div class="tour-card">
            <img [src]="tour.imgUrl" alt="{{ tour.name }}" class="tour-image">
            <div class="tour-details">
                <h2>{{ tour.name }}</h2>
                <p>{{ tour.description }}</p>
                <p><strong>Страна:</strong> {{ tour.country }}</p>
                <p *ngIf="tour.region"><strong>Город:</strong> {{ tour.region }}</p>
                <p><strong>Дата:</strong> {{ tour.startDate | date }} - {{ tour.endDate | date }}</p>
                <p><strong>Цена:</strong> {{ tour.price | currency:' ':'symbol':'1.0' }}₽</p>
                <p><strong>Оставшиеся места: </strong> {{ tour.quantity }}</p>
                <button mat-raised-button class="tour-button" color="link" routerLink="/tour/{{ tour.tourId }}"
                    queryParamsHandling="merge">Посмотреть
                    тур</button>
                <!-- Реализовать качество поездки в следующем симестре -->
            </div>
        </div>
    </div>
</div>